/*FONTS EXTERNAS*/
@font-face{
	font-family:'basicl';
	src:url(../fonts/basicl.ttf) format('truetype');
	src:url(../fonts/basicl.woff);
}
@font-face{
	font-family:'open';
	src:url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
	font-family:'Black';
	src:url(../fonts/AlfaSlabOne-Regular.ttf);
}

*{margin:0;padding:0;}
body, html{
	background-color:#EEE; 
	height:100%;
	font-family:"open"; 
}
a{
	color:#555;
	text-decoration:none;
}
a:hover{color:#000;}
#wrap{width:900px;margin:100px auto;}
.tit{
	width:700px;
	margin:0 auto;
}
.tit2{
	width:400px;
	margin:0 auto;
}
/*MENU PRINCIPAL*/
nav{
	width:200px;
	margin:0 auto;
	font-family:"basicl";
	font-size:18px;
}
ul{
	list-style:none;
}
ul li{
	margin:0 0 0 22px;
	cursor:pointer;
	display:inline;
}
ul li ul{
	position:absolute;
	margin:3px 0 0 0;
	opacity:0;
	-webkit-transition:opacity 2s;
	-moz-transition:opacity 2s;
	-ms-transition:opacity 2s;
	-o-transition:opacity 2s;
	transition:opacity 2s; 
}
ul li ul li{
	background-color:#666; 
	color:#FFF;
	padding:1px 3px;
	border-radius:3px;
	font-family:'arial';
	font-size:16px;
}
/*H-GROUP*/
h1{
	font-family:'black';
	font-size:112px;
}
h1 a{
	color:#333;
	text-shadow:1px 1px 10px #666;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	-ms-transition: color 1s;
	-o-transition: color 1s;
	transition: color 1s;
}
h1 a:hover{
	color:#222;
}
h2{
	color:#FFF; 
	text-shadow:1px 1px 3px #333;
}
h3{
	font-size:20px;
	text-shadow:1px 1px 3px #333;
	color:#FFF;
	text-align:center;
}
/*CONTEUDO*/
#conteudo{
	width:100%; 
	margin:50px 0 50px 0;
}
/*ESTILOS DO POST*/
.post, .post-full{
	width:80%;
	height:137px;
	margin:10px auto;
	background-color:#666;
	border-radius:10px;
}
.post-full{
	height:auto;
	text-align:center;
}
.post-full p{color:#FFF;}
.post-full h2{
	color:#FFF;
	font-size:50px;
	text-shadow:1px 1px 3px #333;
}
.post-full a{
	color:#000;
}
.post-full a:hover{
	color:#EEE;
}
.post-full img{
	width:500px;
	height:290px;
	border:5px solid #EEE;
	border-radius:5px;
}
.post-full .post-img{
	width:500px;
	height:290px;
	margin:0 auto;
}
.post-full .post-content{
	width:90%;
	margin:10px auto;
	text-align:left;
	line-height:170%;
}

.left-img{
	float:left;
	width:200px;
	height:90%;
	margin:5px 0 0 5px;
}
.left-img img{
	border:5px solid #EEE;
	border-radius:5px;
}
/*Video*/
iframe{
	border:5px solid #EEE;
	border-radius:5px;
}
.right-text{
	float:right;
	width:500px;
	height:90%;
	margin:5px 0 0 0;
}
.right-text p{
	color:#FFF;
	font-size:15px;
}
.info-extra{
	font-size:10px;
}
.info-extra span{
	font-style:italic;
}
/*RODAPE*/
footer{
	width:290px;
	height:20px; 
	margin:0 auto;
	font-family:helvetica; 
	color:#666;
}

/*SOCIAL*/
#so1, #so2, #so3{
	padding:2px 5px;
	position:absolute;
	margin:-23px 0 0 -50px;
	background-color:#666; 
	color:#fff;
	border-radius:3px;
	opacity:0;
	-webkit-transition:opacity 2s;
	-moz-transition:opacity 2s;
	-ms-transition:opacity 2s;
	-o-transition:opacity 2s;
	transition:opacity 2s;
}

/*#ani1,#ani2,#ani3,#ani4{
	opacity:0;
	-webkit-transition:opacity 2s;
	-moz-transition:opacity 2s;
	-ms-transition:opacity 2s;
	-o-transition:opacity 2s;
	transition:opacity 2s;
}*/