---
layout: default
title: WebVisão | O que eu tenho a dizer sobre a web
---

{% for post in site.posts %}
<article class="post">
	<div class="left-img">
		<img src="{{post.image}}" width="200" height="117">
	</div>
	<div class="right-text">
		<a href="{{post.url}}"><h2>{{post.title}}</h2></a>
		<p class="info-extra">publicado em: <span><time>{{post.date | date:"%d-%m-%y"}}</time></span> <br> categoria: <span>{{post.categoria}}</span> <br> Tags: <span>{{post.tags}}</span></p>
	</div>
</article>
{% endfor %}