body{
	background-color:#EEE;
	font-family: 'Open Sans', sans-serif;
	color:#666;
}
.wrap{
	width:712px;
	margin:0 auto;
	text-align:center;
}
h1{
	font-family: 'Alfa Slab One';
	font-size:112px;
	color:#333;
	text-shadow:1px 1px 10px #666;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	-ms-transition: color 1s;
	-o-transition: color 1s;
	transition: color 1s;
	cursor:pointer;
	-webkit-animation-name: maIn;
	-webkit-animation-duration: 5s;
	animation-name: maIn;
	animation-duration: 5s;
}
h1:hover{
	color:#222;
}
.slogan{
	margin:-100px 0 0 0;	
	-webkit-animation-name: maIn;
	-webkit-animation-duration: 10s;
	animation-name: maIn;
	animation-duration: 10s;
}
#loading{
	width:150px;
	height:150px;
	margin:0 auto;
}
@-webkit-keyframes maIn{
	from{
		opacity:0;
	}	
	to{
		opacity:1;
	}
}
@keyframes maIn{
	from{
		opacity:0;
	}	
	to{
		opacity:1;
	}
}