<!doctype html>
<html lang="pt">
<head>
	<meta charset="UTF-8" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="css/master.css">
</head>
<body>
	<div id="wrap">
	<header>
		<div class="tit" id="ani1"><h1><a href="index.html">WEBVISÃO</a></h1></div>
			<nav id="ani2">
				<ul>
					<li><a href="arquivo.html">ARQUIVO</a></li>
					<li><a href="projectos.html">PROJECTOS</a></li>
				</ul>
			</nav>
	</header>
