---
layout: screencast
title: Meu primeiro ScreenCast
image: img/8.jpg
categoria: PHP
tags: md5, php, segurança
---

<p>Meu primeiro ScreenCast onde aponto algumas vulnerabilidades da função de hash md5().</p>
<iframe width="640" height="360" src="http://www.youtube.com/embed/jTLTSgdmLos?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>