{% include head.html %}
	<section id="conteudo">
		{{ content }}
	</section>
	<footer>
		<ul id="ani4">
			<li id="facebook" onMouseOver="social_on1()" onMouseOut="social_off1()">/flowck.ii
				<span id="so1">facebook</span>
			</li>
			<li onMouseOver="social_on2()" onMouseOut="social_off2()">@flowckII2
				<span id="so2">twitter</span>
			</li>
			<li onMouseOver="social_on3()" onMouseOut="social_off3()">Flowck
				<span id="so3">github</span>
			</li>
		</ul>
	</footer>
	</div>
</body>
</html>